{% extends 'Travel/manage/manage_base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container" style="background-color: white;margin-top: 10px">
        <div style="padding-top: 60px;padding-left: 200px;padding-bottom: 60px">
            <form class="form-horizontal" role="form" method="post" action="{% url 'Travel:update' cid.id %}">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">名称：</label>
                    <div class="col-sm-5">
                        <input type="text" style="width: 400px" name="title" value="{{ cid.title }}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">价格：</label>
                    <div class="col-sm-5">
                        <input type="text" style="width: 400px" name="price" value="{{ cid.price }}">/ 人
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">描述1：</label>
                    <div class="col-sm-5">
                        <input type="text" style="width: 400px" style="width: 85px" name="name1"
                               value="{{ cid.name1 }}"></div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">描述2：</label>
                    <div class="col-sm-5">
                        <input type="text" style="width: 400px" style="width: 85px" name="name2"
                               value="{{ cid.name2 }}"></div>
                </div>

                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">描述3：</label>
                    <div class="col-sm-5">
                        <input type="text" style="width: 400px" style="width: 85px" name="name3"
                               value="{{ cid.name3 }}"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-danger" style="width: 120px;">确认</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}